.nav-links {
  color: aliceblue;
}
.table {
  margin-top: 10px;
  margin-left: 10px;
}
.forms {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
.edit-form {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
.form-group {
  margin-left: 20%;
  margin-right: 20%;
}
h1 {
  margin-left: 20%;
}
